<div class="flex flex-col w-[100%] mt-[600px] md:mt-[80%] lg:mt-[80%] xl:mt-[50%]">
    <div class=" w-[100%] flex justify-center">
        <div class="w-[80%] h-3 rounded" id="hrShadow">

        </div>
    </div>
    <div class="mt-5 mb-5">
        <div>
            <h3 class="text-white font-[f] text-center">Copyright © 1999-2023 Pirate Web. All rights reserved.</h3>
        </div>
    </div>
</div>

<style>
    #hrShadow{
        box-shadow: 0px 0px 15px 1px white;
        background: #242424;
    }
</style>