---
import barco from "../images/barco.png"
---
<div class="flex justify-center mb-80 md:mb-64">
    <div class="opacity-50">
        <img src={barco} alt="">
    </div>
    <div class="text-white font-[f] absolute  w-full text-center h-[40%] md:h-[70%] text-[3rem] md:text-7xl flex justify-center items-center" style="text-shadow: 5px 10px 5px black;">
        <h1 class="">Front end Design</h1>
    </div>
</div>