---
import arrow1 from "../images/arrows.png";
---
<div class="absolute md:pl-16 md:pr-16 pl-3 pr-3 box-border flex justify-between w-[100%]">
    <div class="bg-[#242424] md:w-28  flex justify-center align-middle shadow-box-shadow rounded-full p-3 box-border">
        <button id="izq"><img src={arrow1} alt="" class="w-10 h-[50%] md:w-16 md:h-16 scale-x-[-1]"></button>
    </div>
    <div class="bg-[#242424] md:w-28 flex justify-center align-middle shadow-box-shadow rounded-full p-3 box-border">
        <button id="der"><img src={arrow1} alt="" class="w-10 h-[50%] md:w-16 md:h-16"></button>
    </div>

    <script>
        
    </script>
</div>

